:root {
  --c-blue-highlight: #2462d1;
  --c-blue-dark: #1b3e67;
  --c-blue-darker: #062952;
  --c-gray-200: #edf2f7;
  --c-gray-300: #e2e8f0;
  --c-gray-400: #cbd5e0;
  --c-gray-500: #bfcfe0;
  --c-gray-800: #2d3748;
  --c-white: #ffffff;

  // Card Colors
  --c-s1: #dabfff;
  --c-s1-darker: #46426d;
  --c-s1-light: #e9d9ff;
  --c-s1-lighter: #f7f1ff;

  --c-s2: #ffd6b3;
  --c-s2-darker: #66421f;
  --c-s2-light: #ffe4cc;
  --c-s2-lighter: #fef6ef;

  --c-s3: #99d1ff;
  --c-s3-darker: #003a66;
  --c-s3-light: #bfe3ff;
  --c-s3-lighter: #e6f4ff;

  --c-s4: #81dde5;
  --c-s4-darker: #2a5154;
  --c-s4-light: #aaecf2;
  --c-s4-lighter: #def5f7;

  --c-s5: #ffbfd2;
  --c-s5-darker: #773a47;
  --c-s5-light: #ffd9e4;
  --c-s5-lighter: #fff2f6;

  --c-s6: #cbd5e0;
  --c-s6-darker: #4a5568;
  --c-s6-light: #e2e8f0;
  --c-s6-lighter: #f2f7fa;

  --ff-archivo: 'Archivo', sans-serif;
  --ff-archivo-narrow: 'Archivo Narrow', sans-serif;
}

/* semantic color variables */
:root {
  --color-background: var(--c-gray-200);
  --color-card-background: var(--c-white);

  --font-family-base: var(--ff-archivo);
  --font-family-narrow: var(--ff-archivo-narrow);

  --text-color: var(--c-gray-800);
  --default-transitions: color 0.3s, background-color 0.3s;

  // buttons
  --button-bg-default: var(--c-white);
  --button-color-default: var(--c-gray-800);
  --button-hover-default: var(--c-gray-300);

  --button-bg-highlight: var(--c-blue-highlight);
  --button-color-highlight: var(--c-white);
  --button-hover-highlight: var(--c-blue-dark);

  // steps
  --step-text-color: var(--c-gray-800);

  --step-bg-color: var(--c-white);
  --step-color: var(--c-blue-darker);
  --step-border: 1px solid var(--c-gray-500);

  --step-bg-color-active: var(--c-gray-800);
  --step-color-active: var(--c-white);
  --step-border-active: 1px solid var(--c-gray-800);

  //title
  --title-color: var(--c-gray-800);

  //pipeline button
  --pipeline-button-border: 1px solid var(--c-gray-300);
  --pipeline-button-border-selected: 2px solid var(--c-blue-highlight);
  --pipeline-checkbox-border-empty: 2px solid var(--c-gray-400);
  --pipeline-checkbox-border-checked: 2px solid var(--c-blue-highlight);
  --pipeline-checkbox-bg-checked: var(--c-blue-highlight);

  --stage-item-gradient: linear-gradient(180deg, transparent 0%, var(--c-white) 100%);
}

.dark {
  --color-background: #181818;
  --color-card-background: #121212;
  --text-color: var(--c-gray-200);

  // steps
  --step-text-color: var(--c-gray-200);

  --step-bg-color: var(--c-gray-200);
  --step-color: var(--c-blue-darker);
  --step-border: 1px solid var(--c-gray-500);

  --step-bg-color-active: var(--c-gray-800);
  --step-color-active: var(--c-gray-200);
  --step-border-active: 1px solid var(--c-gray-800);

  //title
  --title-color: var(--c-gray-200);

  //pipeline button
  --pipeline-button-border: 1px solid var(--c-gray-800);

  // Color fix to popover arrow
  .popover-arrow {
    &::after {
      border-top-color: #121212 !important;
    }
  }

  .stage-item {
    filter: invert(1) brightness(3) saturate(0.8);
  }
}
