@import './reset';
@import './variables.scss';
@import './buttons';
@import './titles';

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  transition: var(--default-transition);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
}
